* {
    padding: 0.2rem;
    margin: 0;
    text-align: center;
  }

  body {
    background: #928DAB;
  }

  p {
    text-align: left;
  }

  .btn {
    font-family: 'Sansita Swashed', cursive, sans-serif;
    margin: 0.7rem;
  }

 .main {
      display: grid;
      place-items: center;
  }

  .container {
    max-width: 420px;
  }

  .calculator {
    width: 100%;
    height: 100%;
    margin-top: 0.7rem;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;
  }
  #display {
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: black;
    border: 3px solid white;
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #7fff00;
  }
  .btnTop{
    color: white;
    background-color: #6f6f6f;
    font-size: 14px;
    margin: auto;
    width: 85%;
    height: 85%;
  }
  .btnNum {
    color: white;
    background-color: black;
    font-size: 14px;
    margin: auto;
    width: 85%;
    height: 85%;
  }
  .btnMath {
    color: white;
    background-color: #ff4561;
    font-size: 14px;
    margin: auto;
    width: 85%;
    height: 85%;
  }
  .btnOpps {
    color: white;
    background-color: #ff9933;
    font-size: 14px;
    margin: auto;
    width: 85%;
    height: 85%;
  }