* {
    padding: 0.2rem;
    margin: 0;
    text-align: center;
  }
  
  body {
    background: #928DAB;
  }

  h1, li {
    font-family: 'Sansita Swashed', cursive, sans-serif;
  }

  .btn {
    font-family: 'Sansita Swashed', cursive, sans-serif;
  }