body {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wow {
  width: 95%;
}

section {
    font-size: 35px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive, sans-serif;
  }

