body{
    /*padding:20px 20px;*/
    padding: 0.2rem;
    margin: 0;
    text-align: center;
    background: #928DAB;
  }

  .list-inline-item {
    font-family: 'Sansita Swashed', cursive, sans-serif;
  }

  .btn {
    font-family: 'Sansita Swashed', cursive, sans-serif;
  }
  
  .results tr[visible='false'],
  .no-result{
    display:none;
  }
  
  .results tr[visible='true']{
    display:table-row;
  }
  
  .counter{
    padding:8px; 
    color:#ccc;
  }

  img {
      width: 32px;
      margin-top: 2em;
  }

  input {
    margin-top: 2em;
    border-radius: 50%;
  }

  .busqueda {
      display: flex;
  }